<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}


    {% load static %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script type="text/javascript" src="{% static 'lists.js' %}"></script>
    <script type="text/css" src="{% static 'lists.css' %}"></script>

    <h1>ToDo Items List</h1>

    {% if todo_list %}
        <body translate="no">
        <div id="todos">
            <button class="sort" data-sort="description">
                Sort by Description
            </button>

            <input class="search" placeholder="Search"/>

            <table>
                <tbody class="list">
                {% for todo in todo_list %}
                    <tr>
                        <td class="description">
                            <a href="{% url 'detail' todo.id %}">{{ todo }} </a>
                        </td>
                        <td class="created_at">
                            {{ todo.created_at }}
                        </td>
                        <td>
                            <a href="{% url 'remove' todo.id %}">DEL</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        </body>
    {% else %}
        <p>There are no ToDo's for the moment</p>
    {% endif %}

    <ul>
        <a href="{% url 'add' %}">Create ToDo</a>
    </ul>

{% endblock %}